* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background-color: #1b203b;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -moz-transform: rotate(0deg); /* Firefox */
    -ms-transform: rotate(0deg); /* IE 9 */
    -o-transform: rotate(0deg); /* Opera */
    transform: rotate(0deg);

    width: calc(400px);
  }
  50% {
    width: calc(400px * 1.4);
  }
  to {
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    -moz-transform: rotate(360deg); /* Firefox */
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera */
    transform: rotate(360deg);
    width: calc(400px);
  }
}
.container {
  background-color: #1b203b;

  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 3rem;
  justify-content: center;
  /* align-items: center; */
}
/* .blur {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1b203b;
  -webkit-filter: blur(200px);
  -moz-filter: blur(200px);
  -ms-filter: blur(200px);
  -o-filter: blur(200px);
  filter: blur(100px);
} */

#blob {
  position: absolute;
  background: linear-gradient(to right, aquamarine, mediumpurple);

  height: 400px;
  left: 40%;
  top: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: rotation 5s linear infinite;
  /* filter: blur(200px); */
  -webkit-filter: blur(200px);
  -moz-filter: blur(200px);
  -ms-filter: blur(200px);
  -o-filter: blur(200px);
  filter: blur(200px);
  z-index: 0;
}
#blob::after {
  content: "";
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  background-color: #000000;
  z-index: 0;
}
.box1,
.box2 {
  height: 70%;
  width: 30%;
  border: 2px dotted white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}
.doneContent {
  background-color: grey;
  width: 90%;
  /* height: 5rem; */
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem 0.5rem;
  border-radius: 4px;
  cursor: move;
}

.content {
  width: 90%;
  /* height: 5rem; */
  background-color: aquamarine;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem 0.5rem;
  border-radius: 4px;
  cursor: move;
}
.dragging {
  opacity: 0.4;
}
.title {
  color: #e9e9e9;
}
.form {
  margin: 6rem 35vw 3rem 35vw;
  width: 100vw;
  z-index: 5;
}
input {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 4px;
  width: 18rem;
  background-color: #1b203b;
  border-color: #55556d;
  color: white;
}
button {
  padding: 0.5rem;
  width: 6rem;
}
